body {
    margin-top: 65px;
    margin-bottom: 65px;
}

.affiche {
    background-color: #2e6da4;
    color: white;
}

.navbar-default {
    background-color: #2e6da4;
    border-color: #2e6da4;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: black;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #2e6da4;
    color: white;
}

.icon-bar
{
    background:white !important; /*Whatever colour you want for icon lines*/
}

.navbar-toggle span
{
    background:white !important; /*Whatever colour you want for icon lines*/
}

.navbar-toggle:hover {
    background: white !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-brand {
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: 1.6em !important;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.modal-footer {
    text-align: left;
}